.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: #CAE5BC;
    // position: absolute;
    // bottom: 0;
    width: 100%;
  }
  