img.image{
    width: 100%;
}

div.text{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .text_{
        width: 30vh;
        height: 5vh;
        text-align: center;
        background-color: #FFC152;
        h4{
            padding :10px;
            margin-bottom: 0px;
            font-size: 1.2rem;
        }
    }
}

img.sort{
    width: 23px;
    height: 25px;
}