* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

div.App {
  height: 100%;
}

.card .card-body .card-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #747373;
}

img.img {
  width: 100%;
}

#button {
  display: flex;
  justify-content: center;
}
#button button.shopping {
  width: 100%;
}
#button button.shopping a.aaa {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  div.phone {
    display: none;
  }
  #button {
    position: absolute;
    left: 43%;
    bottom: 25%;
    width: 15vw;
    height: 7vh;
  }
  #button button.shopping {
    width: 100%;
  }
  #button button.shopping a.aaa {
    text-decoration: none;
    color: white;
    font-size: 1rem;
  }
}
nav {
  background-color: #CAE5BC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav div.dropdown-menu {
  background-color: #CAE5BC;
  min-width: inherit;
}
nav h3 {
  color: white;
  margin-left: 4vw;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 4vw;
}
nav ul li {
  padding: 0px 1rem;
  margin-top: 10px;
}
nav ul li a {
  text-decoration: none;
}

span.text {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

img.logo {
  width: 30px;
  height: 30px;
  margin-bottom: 3px;
}

@media screen and (max-width: 450px) {
  span.text {
    display: none;
  }
}
span.logo {
  color: transparent;
  text-shadow: 0 0 0 rgb(245, 243, 243);
  position: relative;
}
span.logo div.dot {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: red;
  text-align: center;
  font-size: 1.1rem;
  position: absolute;
  bottom: 15px;
  left: 20px;
  z-index: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.products .Product {
  margin-top: 3vh;
  margin-left: 30px;
  margin-right: 30px;
  height: 56vh;
  width: 45vh;
}
.products .imageContainer {
  overflow: inherit;
  height: 55%;
}
.products .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}
.products .imageContainer img:hover {
  transform: scale(1.25);
}
.products .cardbody {
  position: relative;
}
.products .cardbody .card-text {
  z-index: 1;
}

button.cart {
  color: transparent;
  text-shadow: 0 0 0 white;
  position: absolute;
  top: 100%;
  left: 75%;
  top: 120px;
  width: 4.2vw;
  height: 38px;
  min-width: 45px;
  font-size: medium;
  z-index: 0;
  bottom: 5px;
}

button.delete {
  position: absolute;
  top: 100%;
  left: 80%;
  top: 125px;
}

details {
  z-index: 2;
  font-size: small;
}

div.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  height: 100%;
}
div.arrows button {
  background-color: white;
  border: none;
}
div.arrows button .arrow {
  width: 40px;
}
div.arrows input {
  width: 30px;
}

@media (min-width: 1025px) {
  .h-custom {
    height: 100 !important;
  }
}
.horizontal-timeline .items {
  border-top: 3px solid #CAE5BC;
}

.horizontal-timeline .items .items-list {
  position: relative;
  margin-right: 0;
}

.horizontal-timeline .items .items-list:before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #ddd;
  top: 0;
  margin-top: -5px;
}

.horizontal-timeline .items .items-list {
  padding-top: 15px;
}

.border-color-custom {
  border-color: #CAE5BC !important;
  border-width: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #CAE5BC;
  width: 100%;
}

img.image {
  width: 100%;
}

div.text {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
div.text .text_ {
  width: 30vh;
  height: 5vh;
  text-align: center;
  background-color: #FFC152;
}
div.text .text_ h4 {
  padding: 10px;
  margin-bottom: 0px;
  font-size: 1.2rem;
}

img.sort {
  width: 23px;
  height: 25px;
}

table td {
  font-size: 1.1rem;
}
table th {
  font-size: 1.1rem;
}

button.qt {
  border: none;
  background-color: white;
  font-size: 2rem;
  margin: 0px 8px;
}

div.QT {
  justify-content: flex-start;
  position: relative;
}

button.trash {
  position: absolute;
  left: 82%;
  top: 12px;
  border: none;
  background-color: white;
  color: red;
}

div.card-body div.row {
  justify-content: space-between;
}

div.paypal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
div.paypal div.paypalbutton {
  width: 100%;
}

div.empty {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
}
div.empty h1 {
  font-size: 4rem;
  text-align: center;
  flex-basis: 100%;
}
div.empty a {
  font-size: 2rem;
  text-align: center;
  flex-basis: 100%;
}
div.empty div.blank {
  flex-basis: 100%;
  height: 20%;
}/*# sourceMappingURL=style.css.map */