* {
    margin: 0;
    padding: 0;
    text-decoration:none;
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
  }

body {
    font-family: "Roboto", sans-serif;
  }

div.App{
  height: 100%;
}

.card .card-body .card-text {
  font-size: 0.75rem;
  font-weight: 400;
  color: #747373;
}















@import "~bootstrap/scss/bootstrap";
@import "./index";
@import "./nav";
@import "./product";
@import "./pagebutton";
@import "./deal";
@import "./footer";
@import "./home";
@import "./mycart";
@import "./post"